name: Build

on:
  push:
    branches:
      - master 
  # pull_request:
  # workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: hexpm/elixir:${{ matrix.elixir }}-erlang-${{ matrix.erlang }}-ubuntu-${{ matrix.ubuntu }}

    name: Elixir ${{ matrix.elixir }} / Erlang ${{ matrix.erlang }} with Ubuntu ${{matrix.ubuntu}}

    strategy:
      fail-fast: false
      matrix:
        elixir: ["1.11.2"]
        erlang: ["23.1.4"]
        ubuntu: ["focal-20201008"]
    steps:
      - uses: actions/checkout@v2
      - name: Install Dependencies
        run: |
          apt-get update
          DEBIAN_FRONTEND=noninteractive apt-get -y --no-install-recommends install build-essential cmake
          mix local.rebar --force
          mix local.hex --force
          mix deps.get
      - run: mix test
