name: Generate aws-erlang
on:
  push:
    branches:
      - master 
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Elixir ${{ matrix.elixir }} / OTP ${{ matrix.erlang }}

    strategy:
      fail-fast: false
      matrix:
        elixir: ["1.13.4"]
        erlang: ["25.0.4"]
    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "${{ matrix.erlang }}"
          elixir-version: "${{ matrix.elixir }}"
      - name: Install Dependencies
        run: |
          sudo apt-get update
          DEBIAN_FRONTEND=noninteractive sudo apt-get -y --no-install-recommends install build-essential cmake
          mix deps.get
      - name: Checkout aws/aws-sdk-go
        uses: actions/checkout@v2
        with:
          repository: aws/aws-sdk-go
          path: aws/aws-sdk-go/
      - name: Checkout aws-erlang
        uses: actions/checkout@v2
        with:
          repository: aws-beam/aws-erlang
          path: aws-beam/aws-erlang
      - name: Generate aws-erlang
        env:
          SPEC_PATH: aws/aws-sdk-go/models/apis
          TEMPLATE_PATH: priv
          ERLANG_OUTPUT_PATH: aws-beam/aws-erlang/src
        run: mix run generate.exs erlang $SPEC_PATH $TEMPLATE_PATH $ERLANG_OUTPUT_PATH
      - name: Run Erlang tests
        run: rebar3 eunit
        working-directory: aws-beam/aws-erlang

